<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>$Title$</title>
</head>
<body>
<ul>
    <li>token_type : <span th:text="|'${authInfo.token_type}'|"></span></li>
    <li>access_token : <span th:text="${authInfo.access_token}"></span></li>
    <li>expires_in : <span th:text="${authInfo.expires_in}"></span></li>
    <li>refresh_token : <span th:text="${authInfo.refresh_token}"></span></li>
    <li>refresh_token_expires_in :  <span th:text="${authInfo.refresh_token_expires_in}"></span></li>
    <li>scope : <span th:text="${authInfo.scope}"></span></li>
</ul>
</body>
</html>